h1{
  text-align: center;
  text-decoration: underline;
}
h2{
  text-align: center;
  font-style: italic;
}
body{
  background-color: #fed9ca
}

#container{
  margin-left: 0% ;
  margin-right: 18%;

}
.sidebar{
  width: 18% ;
  padding-top: 100px;
}
#submit{
margin-left: 40%
}
